<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1 class="display-4 text-primary"><%= @title %></h1>
      <%= yield  %>
      <%= erb :_next_prev_section %>
    </div>
  </div>
</div>