<hr class="m-y-2">
<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-warning btn-lg" href="<%= @prev %>" role="button">Atras</a>
  </div>
  <div class="col-sm-6 text-sm-right">
    <a class="btn btn-info btn-lg" href="<%= @next %>" role="button">Siguiente</a>
  </div>
</div>