<h3>¿Qué es Software Libre?</h3>
<p class="">
  Muchas veces escuchamos el termino Software Libre o Free Software, y a veces se nos cruza la duda por la mente, ¿Qué es exactamente Software Libre?.<br>
  Hay personas que piensan que hablamos de Software Libre cuando hablamos de <span class="text-danger">Software gratis</span>, sin embargo no es así, cuando hablamos de Software Libre hablamos de algo más profundo, primeramente veamos las <span class="text-success">cuatro libertades</span> escenciales que un programa debe cumplir para ser realmente <span class="text-success">libre:</span>
</p>
<ul>
  <li>La libertad de ejecutar el programa como se desea, con cualquier propósito (libertad 0).</li>
  <li>La libertad de estudiar cómo funciona el programa, y cambiarlo para que haga lo que usted quiera (libertad 1). <span class="text-info">El acceso al código fuente es una condición necesaria para ello.</span></li>
  <li>La libertad de redistribuir copias para ayudar a su prójimo (libertad 2).</li>
  <li>La libertad de distribuir copias de sus versiones modificadas a terceros (libertad 3). Esto le permite ofrecer a toda la comunidad la oportunidad de beneficiarse de las modificaciones. <span class="text-info">El acceso al código fuente es una condición necesaria para ello.</span></li>
</ul>
<p class="">
  Tomando todo esto en cuenta, el termino «Software libre» se asocia al software que respeta la libertad de los usuarios y la comunidad. A grandes rasgos, significa que los usuarios tienen la libertad de ejecutar, copiar, distribuir, estudiar, modificar y mejorar el software. Es decir, el «software libre» es una cuestión de <span class="text-success">libertad</span>, no de <span class="text-warning">precio</span>, por lo que un Software Gratis no es lo mismo que un Software Libre.
</p>

<h3>¿Puedo ganar dinero a través de Software Libre?</h3>
<p class="">
  Esta es una duda muy común y que ha generado malentendidos. El Software Libre no depende de un precio sino de sus permisos lo que significa que no necesariamente sea gratis o propietario de un Software Libre no pueda ganar ingresos de ello. «Software libre» no significa que <span class="text-warning">«no es comercial»</span>. Un programa libre puede estar disponible para el <span class="text-info">uso comercial, la programación comercial y la distribución comercial</span>. La programación comercial de software libre ya no es inusual; el software libre comercial es muy importante. Puede haber pagado dinero para obtener copias de software libre, o puede haber obtenido copias sin costo. Pero sin tener en cuenta cómo obtuvo sus copias, siempre tiene la libertad de copiar y modificar el software, incluso de <span class="text-info">vender copias</span>.
</p>

<h3>¿Cómo puedo saber si un Software es Realmente Libre?</h3>
<p class="">
  Es fácil reconocer un Software Libre a partir de su licencia, ya que esta define los permisos de uso y distribución del Software. Actualmente existen un gran número de licencias que cumplen con los requisitos de Software Libre, a continuación un pequeño listado de estas:
</p>
<ul class="text-success">
  <li>Licencia Pública General de GNU (GPL) versión 3 <span class="text-info">(Al igual que sus versiones anteriores)</span> </li>
  <li>Licencia Pública General Reducida de GNU (LGPL) versión 3 <span class="text-info">(Al igual que sus versiones anteriores)</span></li>
  <li>Licencia Pública General Affero de GNU (AGPL)</li>
  <li>Licencia Apache</li>
  <li>Educational Community License 2.0</li>
</ul>
<p class="">
  Por otro lado un pequeño listado de licencias que no son Software Libre:
</p>
<ul class="text-danger">
  <li>Sin licencia </li>
  <li>Aladdin Free Public License</li>
  <li>Licencia Pública de AT&T </li>
  <li>Open Public License </li>
  <li>Cualquier otra licencia privativa específica de cada empresa</li>
</ul>
<p class="">
  Cabe destacar que un Software sin licencia no es libre realmente, para que un programa sea libre, <span class="text-warning">quienes poseen el copyright sobre el mismo deben otorgar a los usuarios las cuatro libertades esenciales</span>. El documento que se utiliza para otorgar las libertades se denomina <span class="text-info">licencia de software libre</span>. Es esta la función de las licencias de software libre.
</p>