<h3>¿Software Libre o Código Abierto?</h3>
<p>
  En 1998, algunas de las personas de la comunidad de software libre empezaron a usar el término «software de código abierto» (del inglés «open source software») en vez de «software libre» para describir lo que hacen. El término «código abierto» se asoció rápidamente con una aproximación diferente, una filosofía diferente, valores diferentes, e incluso un criterio diferente por el cual las licencias son aceptables. El movimiento por el software libre y el movimiento por el código abierto hoy son movimientos separados con visiones y metas diferentes.
</p>
<h3>Relación Entre Software Libre y Código Abierto</h3>
<p>
  El Software Libre y el Código Abierto comparten algunas similitudes y hay personas que los mezclan, sin embargo hay una línea muy marcada a nivel práctico. Según la definición de Software Libre, <span class="text-info">el acceso al código fuente es una condición necesaria.</span>, es decir que si hablamos de Software Libre también hay acceso al código fuente, sin embargo no funciona al reves, el Software de Código Abierto <span class="text-warning">no necesariamente cumple con las condiciones</span> de un Software Libre, en realidad el acceso al código no significa que podamos utilizarlo de la manera que deseemos y distribuirlo.
</p>
<div class="text-sm-center">
  <img class="img-rounded" src="/img/fs_vs_os.png" alt="">
</div>