<h3>El mundo de Software Libre y sus ventajas</h3>

<p> Económico (más de mil millones de euros en licencias de Microsoft en España anuales)</p>

<p>Libertad de uso y redistribución</p>

<p> Independencia tecnológica</p>

<p>Fomento de la libre competencia al basarse en servicios y no licencias</p>

<p><Soporte y compatibilidad a largo plazo</p>

<p> Formatos estándar</p>

<p>Sistemas sin puertas traseras y más seguros</p>

<p>Corrección mas rápida y eficiente de fallos</p>

<p>Métodos simples y unificados de gestión de software</p>

<p>Sistema en expansión</p>

