<h3>¿GNU/Linux?</h3>
<p>
  GNU/Linux es un sistema operativo, es decir un conjunto de programas que le permiten interactuar con su ordenador y ejecutar otros programas.
</p>
<p>
  En un sistema GNU/Linux, <span class="text-success">Linux es el núcleo</span>. El resto del sistema consiste en otros programas, muchos de los cuales fueron escritos por o para el proyecto GNU. Entonces podemos decir que GNU/Linux es un sistema operativo formado por ambas partes.
</p>
