<h3>¿GNU/Linux?</h3>
<p>
  GNU/Linux es un sistema operativo, es decir un conjunto de programas que le permiten interactuar con su ordenador y ejecutar otros programas.
</p>
<p>
  En un sistema GNU/Linux, <span class="text-success">Linux es el núcleo</span>. El resto del sistema consiste en otros programas, muchos de los cuales forman parte del proyecto GNU. Esta combinación es el sistema operativo GNU/Linux. Millones de personas usan GNU/Linux, aunque muchos lo llaman erróneamente «Linux».
</p>
<h3>¿Qué es Linux?</h3>
<p>Linux está modelado como un sistema operativo tipo <span class="text-info">Unix</span>. Desde sus comienzos, Linux se diseñó para que fuera un sistema multi tarea y multi usuario. Estos hechos son suficientes para diferenciar a Linux de otros sistemas operativos más conocidos. Sin embargo, Linux es más diferente de lo que pueda imaginar. <span class="text-success">Nadie es dueño de Linux</span>, a diferencia de otros sistemas operativos. Gran parte de su desarrollo lo realizan voluntarios de forma altruista.</p>
<p>
  Linux se <span class="text-info">distribuye bajo la Licencia Pública General GNU (GPL)</span>, por lo tanto, el código fuente tiene que estar <span class="text-info">siempre accesible</span>.
</p>
<p>El núcleo del sistema sigue en continuo desarrollo bajo la coordinación de Linus Torvalds, la persona de la que partió la idea de este proyecto, en 1991.</p>

<h3>¿Qué es exactamente GNU?</h3>

<p>El nombre «GNU» es un acrónimo recursivo de «GNU No es Unix»</p>
<p>GNU se denomina a una colección de muchos programas: aplicaciones, bibliotecas, herramientas de desarrollo y hasta juegos que forman parte del proyecto GNU, el cual nacio en enero de 1984. Muchos de los programas de GNU se publican bajo el auspicio del Proyecto GNU y los llamamos paquetes de GNU.</p>

<h3>¿Cómo obtener un sistema operativo GNU/Linux?</h3>
<p>
  Los sistemas basados en GNU/Linux se han extendido considerablemente, por lo que es sencillo obtener un sistema operativo GNU/Linux completo y funcional, la manera usual es a través de una <span class="text-info">distribución ya empaquetada</span> y que suele contener el propio sistema operativo más centenares de programas, ya listos para su uso.
</p>