<h1 class="text-primary">Sección IV - GNU/Linux</h1>
<small class="text-muted">Elija verdadero y falso según corresponda.</small>
<hr>
<form id="form_eval_4">
  <div class="form-group">
    <h5>GNU/Linux es un sistema operativo libre:</h5>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="selectionOne"  value="option1" required>
        Verdadero
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="selectionOne"  value="option2">
        Falso
      </label>
    </div>
  </div>

  <div class="form-group">
    <h5>GNU es el núcleo del sistema operativo:</h5>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="selectionTwo"  value="option1" required>
        Verdadero
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="selectionTwo"  value="option2">
        Falso
      </label>
    </div>
  </div>

  <div class="form-group">
    <h5>Linux está basado en Unix:</h5>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="selectionThree"  value="option1" required>
        Verdadero
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="selectionThree"  value="option2">
        Falso
      </label>
    </div>
  </div>

  <div class="form-group">
    <h5>Linus Torvalds es el único dueño de Linux y decide quien puede usarlo:</h5>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="selectionFour"  value="option1" required>
        Verdadero
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="selectionFour"  value="option2">
        Falso
      </label>
    </div>
  </div>

  <div class="form-group">
    <h5>Es correcto referirse solamente como Linux al sistema operativo GNU/Linux:</h5>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="selectionFive"  value="option1" required>
        Verdadero
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="selectionFive"  value="option2">
        Falso
      </label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Siguiente</button>

</form>
<script type="text/javascript">
  send_eval_conf("#form_eval_4", "/eval_5");
</script>