<h1 class="text-primary">Sección III - El mundo del Software Libre</h1>
<small class="text-muted">Encuentra los 8 nombres de programas ocultos en la sopa de letras.</small>
<hr>
<form id="form_eval_3">
  <button type="submit">Siguiente</button>
</form>
<script type="text/javascript">
  send_eval_conf("#form_eval_3", "/eval_4");
</script>