<div class="row">
  <div class="col-sm-12">
    <div id="eval_cont" class="jumbotron">
      <h1 class="text-primary">Sección I - Software Libre</h1>
      <small class="text-muted">Elija la respuesta correcta.</small>
      <hr>
      <form id="form_eval_1">
        <div class="form-group">
          <h5>Un Software se considera libre cuando:</h5>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionOne"  value="option1" required>
              Se puede utilizar sin ningún costo.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionOne"  value="option2">
              Brinda ciertos permisos sobre su uso.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionOne" value="option3">
              Se tiene acceso al código fuente.
            </label>
          </div>
        </div>

        <div class="form-group">
          <h5>Podemos saber que un Software es libre cuando:</h5>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionTwo"  value="option1" required>
              No se específica una licencia
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionTwo"  value="option2">
              Poseé una licencia de Software Libre
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionTwo"  value="option3">
              Todas las anteriores
            </label>
          </div>
        </div>

        <div class="form-group">
          <h5>Se puede tener ganancias monetarias con un Software Libre de la siguiente manera:</h5>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionThree"  value="option1" required>
              Cobrando el desarrollo del Software
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionThree"  value="option2">
              Vendiendo copias del Software
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionThree"  value="option3">
              Todas las anteriores
            </label>
          </div>
        </div>

        <div class="form-group">
          <h5>Cuál de las siguientes licencias <span class="text-warning">NO</span> es libre</h5>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFour"  value="option1" required>
              Licencia Pública General Reducida de GNU (LGPL) versión 3
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFour"  value="option2">
              Educational Community License 2.0
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFour"  value="option3">
              Open Public License
            </label>
            </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="selectionFour"  value="option4">
              Todas son libres
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Siguiente</button>

      </form>
    </div>
  </div>
</div>