  <div class="row">
    <div class="col-sm-12">
      <h2 class="">Software Libre y Linux</h2>
    </div>
  </div>
  <hr>
  <div class="row main-section">
    <div class="col-sm-12">
      <div class="card-deck-wrapper">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" width="318px" height="180px" src="/img/objectives.png" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Objetivos</h4>
              <p class="card-text">
                <ul>
                  <li>Definir el concepto de Software Libre</li>
                  <li>Diferenciar el Software Libre de el Código Abierto</li>
                  <li>Conocer aplicaciones que siguen la filosofía de Software Libre</li>
                  <li>Definir GNU/Linux</li>
                  <li>Conocer y diferenciar entre algunas de las distribuciones más populares de Linux</li>
                </ul>
              </p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" width="200px" height="180px" src="/img/begin.png" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Inicio</h4>
              <p class="card-text">¿Alguna vez te has preguntado que es Software Libre exactamente y en qué se diferencia de Open Source? Acerca de Linux y por qué hay tantos Sistemas Operativos "Linux"? Entonces empecemos esta jornada de aprendizaje y aclararas todas tus dudas!.</p>
              <a href="#" class="btn btn-primary">Empezar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <h2 id="content-header" class="">Contenido</h2>
    </div>
  </div>


    <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" width="318px" height="180px" src="/img/fsf.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">¿Qué es Software Libre?</h4>
          <p class="card-text">Conoce la filosofía y el verdadero significado de Software Libre.</p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" width="318px" height="180px" src="/img/open_source.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Software Libre y Código Abierto</h4>
          <p class="card-text">¿Pero cómo sabemos que estamos hablando de Software Libre o de Open Source?.</p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" width="318px" height="180px" src="/img/softwarelibre.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">El mundo de Software Libre y sus ventajas</h4>
          <p class="card-text">El mundo del Software Libre es bastante amplio, conozcamos algo de el..</p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" width="318px" height="180px" src="/img/linux.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">¿Linux?</h4>
          <p class="card-text">Un gran exponente, adentremonos en el tema alrededor de Linux.</p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" width="318px" height="180px" src="/img/linux_flavors.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Las distribuciones de Linux</h4>
          <p class="card-text">Linux tiene muchos colores, formas y sabores. ¿Qué las diferencia?.</p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" width="318px" height="180px" src="/img/end.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Conclusiones</h4>
          <p class="card-text">Las conclusiones de los temas.</p>
          <a href="#" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
  </div>