<div class="container">
  <div class="row">
    <div class="text-center">
      <h1 class="text-center">Software Libre y Linux</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="offset-sm-4 col-sm-4">
      <div class="card">
        <img class="card-img-top" width="50px" height="50px" src="/img/start.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Inicio</h4>
          <p class="card-text">¿Alguna vez te has preguntado que es Software Libre exactamente y en qué se diferencia de Open Source? Acerca de Linux y por qué hay tantos Sistemas Operativos "Linux"? Entonces empecemos esta jornada de aprendizaje y aclararas todas tus dudas!.</p>
          <a href="#" class="btn btn-primary">Empezar</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>