<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Free Software Learning Object"/>
    <meta content="ruby, oa, learning, object, free, software, linux" name="keywords"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css.map">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/js/tether.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </head>
  <body>
  <header>
    <nav class="navbar navbar-light bg-faded custom-shadow mb20" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">Software Libre y Linux</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <div class="dropdown">
            <a class="btn nav-link dropdown-toggle nav-link" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contenido
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <h6 class="dropdown-header">Indice</h6>
              <a class="dropdown-item" href="/ch_1">¿Qué es Software Libre?</a>
              <a class="dropdown-item" href="/ch_2">Software Libre y Código Abierto</a>
              <a class="dropdown-item" href="#">El mundo de Software Libre y sus ventajas.</a>
              <a class="dropdown-item" href="#">¿Linux?</a>
              <a class="dropdown-item" href="/ch_5">Las distribuciones de Linux</a>
              <a class="dropdown-item" href="#">Conclusiones</a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Actividades</h6>
              <a class="dropdown-item" href="#">Test Evaluativo</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ejercicios</a>
        </li>
      </ul>
    </nav>
  </header>
    <div class="container">
      <%= yield %>
    </div>

  </body> 
</html>