<div class="card">
  <div class="card-block">
    <h4 class="card-title">Evaluación</h4>
    <h6 class="card-subtitle text-muted">Software Libre y Linux</h6>
  </div>
  <div class="card-block">
    <p class="card-text">Con el fin de reafirmar los conocimientos adquiridos a lo largo de las diferentes temáticas, se realizara un test compuesto de cinco ejercicios sobre cada una de las temáticas.</p>
    <a href="/eval" class="btn btn-primary">
      Empezar
    </a>
  </div>
</div>
    
